*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.article-herramienta{
    .calculadora__content{
        margin: 5% 12%;
        background-color: #FFFFFF;
        .calculadora--title{
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            h2{
                text-align: center;
                font-size: 2rem;
                color: #373737;
                line-height: 2.3rem;
                letter-spacing: 1px;
                text-transform: uppercase;
                font-family: roboto-regular, sans-serif, Arial;
            }
            p{
                width: 50%;
                margin-top: 3%;
                text-align: center;
                font-size: 1.2rem;
                font-weight: 300;
                color: #5B6167;
                font-family: Helvetica, sans-serif, Arial;
            }
        }
        .calculadora__section{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 3% 0;
            .section--form{
                box-sizing: border-box;
                width: 56%;
                padding: 5% 4%;
                background-color: #F8F8F8;
                filter: drop-shadow(0px 3px 4px rgba(0,0,0,0.6));
                form{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    label{
                        font-size: 0.75rem;
                        color: #060606;
                        font-weight: bold;
                        height: 3.5rem;
                        font-family: Helvetica, sans-serif, Arial;
                        span{
                            font-size: 0.625rem ;
                            font-weight: 300;
                            display: block;
                            line-height: 1rem;
                        }
                    }
                    .form__group{
                        width: 46%;
                        display: flex;
                        flex-direction: column;
                        align-content: flex-end;
                        .control--input{
                            font-size: 0.938rem;
                        }
                        select{
                            width: 76%;
                            border: 1px solid #000;
                            outline: none;
                            border-radius: 5px  15px;
                            padding: 5px 20px;
                            margin-bottom: 30px;
                            appearance: none;
                            background: url("../img/arrow.png") transparent no-repeat calc(100% - 10px) !important;
                        }
                        input[type="text"]{
                            width: 60%;
                            border: none;
                            outline: none;
                            border-bottom: 1px solid #000;
                            padding: 5px 25px;
                            background: url("../img/cash.png") transparent no-repeat 2px 8px !important;
                        }
                        .error{
                            margin-bottom: 20px;
                            color: #9d0208;
                            display: none;
                            font-size: .8rem;
                            font-family: Helvetica, sans-serif, Arial;
                        }
                        .error-active{
                            display: block;
                        }
                    }
                    .form__unit{
                        width: 100%;
                        .content-slider{
                            position: relative;
                            width: 100%;
                            .slider{
                                height: 60px;
                                .show-value{
                                    position: relative;
                                    width: 100%;
                                    height: 25px;
                                    span{
                                        position: absolute;
                                        text-align: center;
                                        font-size: 1rem;
                                        font-weight: 700;
                                        color: #0f1540;
                                        bottom: 0;
                                        left: 50%;
                                        transform: translateX(-10%)  scale(0);
                                        transform-origin:bottom ;
                                        transition: transform 300ms ease-in-out;
                                    }
                                    span.active {
                                        transform: translateX(-50%) scale(1);
                                    }
                                }
                                input[type='range']{
                                    -webkit-appearance: none;
                                    width: 100%;
                                    height: 3px;
                                    background-color: #0f1540;
                                    outline: none;
                                    border: none;
                                }
                                input[type='range']::-webkit-slider-thumb{
                                    -webkit-appearance: none;
                                    width: 10px;
                                    height: 20px;
                                    background-color: #0f1540;
                                    cursor: pointer;
                                }
                                .range div{
                                    position: absolute;
                                    color: #0f1540;
                                    font-weight: 600;
                                    font-size: 1rem;
                                }
                                .range div:nth-child(2){
                                    right: 0;
                                }
                            }
                        }

                    }
                    .form__unit button{
                        margin: 5% auto 0;
                        display: block;
                        padding: 10px 50px;
                        border: none;
                        outline: none;
                        border-radius: 5px 20px;
                        background:linear-gradient(to top, #757575 ,#9B9B9B ,#DCDCDC );
                        text-transform: uppercase;
                        font-weight: bold;
                        font-size: 1rem;
                        font-family: mont-regular, sans-serif;
                        color: #010101;
                        transition: all 0.5s ease-in-out;
                        &:hover{
                            transform: translateY(-5px);
                            cursor: pointer;
                        }
                        &:active{
                            transform: translateY(5px);
                        }
                    }
                }
            }
            .section--graph{
                box-sizing: border-box;
                width: 42%;
                display: none;
                padding: 5% 3% 3%;
                background-color: #F8F8F8;
                filter: drop-shadow(0px 3px 4px rgba(0,0,0,0.6));
                position: relative;
                .first__box{
                    width: 180px;
                    height: 180px;
                    border-radius: 50%;
                    margin-left: 45%;
                    display: none;
                    align-items: center;
                    position: relative;
                    transform: rotate(90deg);

                    .first--circle{
                        top: 0;
                        left: 0;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        circle{
                            width: 100%;
                            height: 100%;
                            fill: none;
                            stroke-width: 35;
                            stroke: #F8F8F8;
                            stroke-dasharray: 489.5;
                            stroke-dashoffset: 489.5;
                            position: relative;
                            &:nth-child(1){
                                stroke-dashoffset: 0;
                                stroke: #F8F8F8;
                            }
                            &:nth-child(2){
                                stroke: #166D9A;
                                &:hover{
                                    cursor: pointer;
                                    stroke: #358fbd;
                                }
                            }
                        }
                    }

                }
                .second__box{
                    width: 130px;
                    height: 130px;
                    border-radius: 50%;
                    margin: 0 auto;
                    display: flex;
                    align-items: center;
                    position: relative;
                    .second--circle{
                        top: 0;
                        left: 0;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        circle{
                            width: 100%;
                            height: 100%;
                            fill: none;
                            stroke-width: 35;
                            stroke: #F8F8F8;
                            stroke-dasharray: 313.8;
                            stroke-dashoffset: 313.8;
                            position: relative;
                            &:nth-child(1){
                                stroke-dashoffset: 0;
                                stroke: #F8F8F8;
                            }
                            &:nth-child(2){
                                stroke: #00E7FC;
                                &:hover{
                                    cursor: pointer;
                                    stroke: #19ccdc;
                                }
                            }
                        }
                    }
                }
                .three__box{
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    margin: 0 auto;
                    position: relative;
                    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.9));
                    .three--circle{
                        top: 0;
                        left: 0;
                        position: absolute;
                        background-color: green;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        circle{
                            width: 100%;
                            height: 100%;
                            fill: #fff;
                        }


                    }
                }

                .progress_description{
                    display: none;
                    margin-top: 10px;
                    p{
                        font-size: .8rem;
                        line-height: 1rem;
                        display: flex;
                        margin: 5px 0;
                        align-items: center;
                        font-family: Helvetica, sans-serif, Arial;
                        .color_icon{
                            width: 10px;
                            height: 10px;
                            display: block;
                            border-radius: 50%;
                            margin-right: 10px;
                        }
                        .bg_rentabilidad{
                            background-color: #00E7FC;
                        }
                        .bg_capital{
                            background-color: #166D9A;
                        }
                        span{
                            font-weight: bold;
                        }

                        &:nth-child(1){
                            color: #166D9A;
                        }
                        &:nth-child(2){
                            color: #00E7FC;
                        }
                    }
                }
                /*Resultados*/

                .values--result{
                    width: 100%;
                    box-sizing: border-box;
                    .result__content{
                        .result-item{
                            width: auto;
                            margin-top: 10px;
                            h2{
                                font-size: 2rem;
                                font-weight: 500;
                                font-family: roboto-regular, sans-serif, Arial;
                            }
                            p{
                                font-size: 1rem;
                                font-weight: 300;
                                color: #5B5B5B;
                                text-transform: uppercase;
                                font-family: Helvetica, sans-serif, Arial;
                            }
                        }
                    }
                    .content--teminos{
                        margin-top: 5%;
                        p{
                            font-size: 0.625rem;
                            color: #5B5B5B;
                            font-family: Helvetica, sans-serif, Arial;
                        }
                    }
                }
            }
        }
        .calculadora__footer{
            margin: auto;
            width: 50%;
            p{
                text-align: center;
                font-size: 1.2rem;
                font-weight: 300;
                color: #949494;
                font-family: Helvetica, sans-serif, Arial;
            }
        }
    }
}


.article-herramienta-2{

    .calculadora__content{
        margin: 5% 12%;
        background-color: #FFFFFF;
        .calculadora--title{
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            h2{
                text-align: center;
                font-size: 2rem;
                color: #373737;
                line-height: 2.3rem;
                letter-spacing: 1px;
                text-transform: uppercase;
                font-family: roboto-regular, sans-serif, Arial;
            }
            p{
                width: 50%;
                margin-top: 3%;
                text-align: center;
                font-size: 1.2rem;
                font-weight: 300;
                color: #5B6167;
                font-family: Helvetica, sans-serif, Arial;
            }
        }
        .calculadora__section{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 3% 0;
            .section--form{
                box-sizing: border-box;
                width: 56%;
                padding: 5% 4%;
                background-color: #F8F8F8;
                filter: drop-shadow(0px 3px 4px rgba(0,0,0,0.6));
                form{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    label{
                        font-size: 0.75rem;
                        color: #060606;
                        font-weight: bold;
                        height: 3.5rem;
                        font-family: Helvetica, sans-serif, Arial;
                    }
                    .form__group{
                        width: 46%;
                        display: flex;
                        flex-direction: column;
                        align-content: flex-end;
                        .control--input{
                            font-size: 0.938rem;
                        }
                        p{
                            font-size: 0.625rem ;
                            font-family: Helvetica, sans-serif, Arial;
                        }
                        select{
                            width: 76%;
                            border: 1px solid #000;
                            outline: none;
                            border-radius: 5px  15px;
                            padding: 5px 20px;
                            appearance: none;
                            margin-bottom: 50px;
                            background: url("../img/arrow.png") transparent no-repeat calc(100% - 10px) !important;
                        }
                        input[type="text"]{
                            width: 60%;
                            border: none;
                            outline: none;
                            border-bottom: 1px solid #000;
                            padding: 5px 25px;
                            background: url("../img/cash.png") transparent no-repeat 2px 8px !important;
                        }
                        .error{
                            margin-bottom: 20px;
                            color: #9d0208;
                            display: none;
                            font-size: .8rem;
                            font-family: Helvetica, sans-serif, Arial;
                        }
                        .error-active{
                            display: block;
                        }
                    }
                    .form__unit{
                        width: 100%;
                         button{
                            margin: 2% auto 0;
                            display: block;
                            padding: 10px 50px;
                            border: none;
                            outline: none;
                            border-radius: 5px 20px;
                            background:linear-gradient(to top, #757575 ,#9B9B9B ,#DCDCDC );
                            text-transform: uppercase;
                            font-weight: bold;
                            font-size: 1rem;
                            color: #010101;
                            transition: all 0.5s ease-in-out;
                            &:hover{
                                transform: translateY(-5px);
                                cursor: pointer;
                            }
                            &:active{
                                transform: translateY(5px);
                            }
                        }
                    }
                }
            }
            .section--graph{
                box-sizing: border-box;
                display: none;
                width: 42%;
                padding: 3%;
                background-color: #F8F8F8;
                filter: drop-shadow(0px 3px 4px rgba(0,0,0,0.6));
                /*Result top*/
                .values--result{
                    width: 100%;
                    
                    box-sizing: border-box;
                    h2{
                        display: none;
                        font-size: 1.2rem;
                        font-weight: 500;
                        color: #000 ;
                        font-family: roboto-regular, sans-serif, Arial;
                    }
                   
                    p{
                        font-size: .9rem;
                        font-weight: 300;
                        color:#515151 ;
                        margin-top: 5px;
                        font-family: Helvetica, sans-serif, Arial;
                    }
                    span{
                        font-size: 2.2rem;
                        font-weight: bold;
                        color: #060606;
                        font-family: Helvetica, sans-serif, Arial;
                    }
                }
                /*Grafico de porcentajes*/

                
                .first__box{
                    width: 180px;
                    height: 180px;
                    border-radius: 50%;
                    margin-left: 40%;
                    margin-top: 26px;
                    display: none;
                    align-items: center;
                    position: relative;
                    transform: rotate(90deg);

                    .first--circle{
                        top: 0;
                        left: 0;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        circle{
                            width: 100%;
                            height: 100%;
                            fill: none;
                            stroke-width: 35;
                            stroke: #F8F8F8;
                            stroke-dasharray: 489.5;
                            stroke-dashoffset: 489.5;
                            position: relative;
                            &:nth-child(1){
                                stroke-dashoffset: 0;
                                stroke: #F8F8F8;
                            }
                            &:nth-child(2){
                                stroke: #166D9A;
                                &:hover{
                                    cursor: pointer;
                                    stroke: #358fbd;
                                }
                            }
                        }
                    }

                }
                .second__box{
                    width: 130px;
                    height: 130px;
                    border-radius: 50%;
                    margin: 0 auto;
                    display: flex;
                    align-items: center;
                    position: relative;
                    .second--circle{
                        top: 0;
                        left: 0;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        circle{
                            width: 100%;
                            height: 100%;
                            fill: none;
                            stroke-width: 35;
                            stroke: #F8F8F8;
                            stroke-dasharray: 313.8;
                            stroke-dashoffset: 313.8;
                            position: relative;
                            &:nth-child(1){
                                stroke-dashoffset: 0;
                                stroke: #F8F8F8;
                            }
                            &:nth-child(2){
                                stroke: #00E7FC;
                                &:hover{
                                    cursor: pointer;
                                    stroke: #19ccdc;
                                }
                            }
                        }
                    }
                }
                .three__box{
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    margin: 0 auto;
                    position: relative;
                    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.9));
                    .three--circle{
                        top: 0;
                        left: 0;
                        position: absolute;
                        background-color: green;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        circle{
                            width: 100%;
                            height: 100%;
                            fill: #fff;
                            
                        }


                    }
                }

                .progress_description{
                    display: none;
                    margin-top: 15px;
                    p{
                        font-size: .8rem;
                        line-height: 1rem;
                        display: flex;
                        margin: 5px 0;
                        align-items: center;
                        font-family: Helvetica, sans-serif, Arial;
                        .color_icon{
                            width: 10px;
                            height: 10px;
                            display: block;
                            border-radius: 50%;
                            margin-right: 10px;
                        }
                        .bg_rentabilidad{
                            background-color: #00E7FC;
                        }
                        .bg_capital{
                            background-color: #166D9A;
                        }
                        span{
                            font-weight: bold;
                        }

                        &:nth-child(1){
                            color: #166D9A;
                        }
                        &:nth-child(2){
                            color: #00E7FC;
                        }
                    }
                }
                /*Resultados*/

                .content--teminos{
                    box-sizing: border-box;
                    p{
                        font-size:0.625rem;
                        color: #1F1F1F;
                        font-weight: 300;
                        font-family: Helvetica, sans-serif, Arial;
                    }
                }
            }
        }
        .calculadora__footer{
            margin: auto;
            width: 50%;
            p{
                text-align: center;
                font-size: 1.2rem;
                font-weight: 300;
                color: #949494;
                font-family: Helvetica, sans-serif, Arial;
            }
        }
    }

}

.article-herramienta-3{
    .calculadora__content{
        margin: 5% 12%;
        background-color: #FFFFFF;

        .calculadora--title{
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            h2{
                text-align: center;
                font-size: 2rem;
                color: #373737;
                line-height: 2.3rem;
                letter-spacing: 1px;
                text-transform: uppercase;
                font-family: roboto-regular, sans-serif, Arial;
            }
            p{
                width: 50%;
                margin-top: 3%;
                text-align: center;
                font-size: 1.2rem;
                font-weight: 300;
                color: #5B6167;
                font-family: Helvetica, sans-serif, Arial;
            }
        }
        .calculadora__section{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            transition: all 2s ease-in-out;
            margin: 3% 0;
            .section--form{
                box-sizing: border-box;
                width: 56%;
                padding: 5% 4%;
                background-color: #F8F8F8;
                filter: drop-shadow(0px 3px 4px rgba(0,0,0,0.6));
                form{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    label{
                        font-size: 0.75rem;
                        color: #060606;
                        font-weight: bold;
                        height: 3.5rem;
                        font-family: Helvetica, sans-serif, Arial;
                    }
                    .form__group{
                        width: 46%;
                        display: flex;
                        flex-direction: column;
                        align-content: flex-end;
                        .control--input{
                            font-size: 0.938rem;

                        }
                        p{
                            font-size: 0.625rem ;
                            font-family: Helvetica, sans-serif, Arial;
                        }
                        select{
                            width: 76%;
                            border: 1px solid #000;
                            outline: none;
                            border-radius: 5px  15px;
                            padding: 5px 20px;
                            appearance: none;
                            margin-bottom: 50px;
                            background: url("../img/arrow.png") transparent no-repeat calc(100% - 10px) !important;
                        }
                        input[type="text"]{
                            width: 60%;
                            border: none;
                            outline: none;
                            border-bottom: 1px solid #000;
                            padding: 5px 25px;
                            background: url("../img/cash.png") transparent no-repeat 2px 8px !important;
                        }
                        .error{
                            margin-bottom: 20px;
                            color: #9d0208;
                            display: none;
                            font-size: .8rem;
                        }
                        .error-active{
                            display: block;
                        }
                    }
                    .form__unit{
                        width: 100%;
                        .content-slider{
                            position: relative;
                            width: 100%;
                            .slider{
                                height: 60px;
                                .show-value{
                                    position: relative;
                                    width: 100%;
                                    height: 25px;
                                    span{
                                        position: absolute;
                                        text-align: center;
                                        font-size: 1rem;
                                        font-weight: 700;
                                        color: #0f1540;
                                        bottom: 0;
                                        left: 50%;
                                        transform: translateX(-10%)  scale(0);
                                        transform-origin:bottom ;
                                        transition: transform 300ms ease-in-out;
                                    }
                                    span.active {
                                        transform: translateX(-50%) scale(1);
                                    }
                                }
                                input[type='range']{
                                    -webkit-appearance: none;
                                    width: 100%;
                                    height: 3px;
                                    background-color: #0f1540;
                                    outline: none;
                                    border: none;
                                }
                                input[type='range']::-webkit-slider-thumb{
                                    -webkit-appearance: none;
                                    width: 10px;
                                    height: 20px;
                                    background-color: #0f1540;
                                    cursor: pointer;
                                }
                                .range div{
                                    position: absolute;
                                    color: #0f1540;
                                    font-weight: 600;
                                    font-size: 1rem;
                                }
                                .range div:nth-child(2){
                                    right: 0;
                                }
                            }
                        }

                    }
                    .form__unit button{
                        margin: 5% auto 0;
                        display: block;
                        padding: 10px 50px;
                        border: none;
                        outline: none;
                        border-radius: 5px 20px;
                        background:linear-gradient(to top, #757575 ,#9B9B9B ,#DCDCDC );
                        text-transform: uppercase;
                        font-weight: bold;
                        font-size: 1rem;
                        color: #010101;
                        transition: all 0.5s ease-in-out;
                        &:hover{
                            transform: translateY(-5px);
                            cursor: pointer;
                        }
                        &:active{
                            transform: translateY(5px);
                        }
                    }
                }
            }
            .section--graph{
                box-sizing: border-box;
                transition: all 2s ease-in-out;
                width: 42%;
                display: none;
                padding: 3%;
                background-color: #F8F8F8;
                filter: drop-shadow(0px 3px 4px rgba(0,0,0,0.6));

                /*Result top*/

                .values--result{
                    width: 100%;
                    box-sizing: border-box;
                    h2{
                        font-size: 1.2rem;
                        font-weight: bold;
                        color: #000 ;
                        font-family: roboto-regular, sans-serif, Arial;
                    }
                    p{
                        font-size: .9rem;
                        color: #1F1F1F;
                        font-weight: 300;
                        margin-top: 3%;
                        font-family: Helvetica, sans-serif, Arial;
                    }

                    span{
                        font-size: 2.2rem;
                        font-weight: bold;
                        color: #060606;
                        display: block;
                        margin-top: 2%;
                        font-family: Helvetica, sans-serif, Arial;
                    }
                }
                /*Grafico de porcentajes*/

                .first__box{
                    width: 180px;
                    height: 180px;
                    border-radius: 50%;
                    margin-left: 45%;
                    display: none;
                    margin-top: 2%;
                    align-items: center;
                    position: relative;
                    transform: rotate(90deg);

                    .first--circle{
                        top: 0;
                        left: 0;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        circle{
                            width: 100%;
                            height: 100%;
                            fill: none;
                            stroke-width: 35;
                            stroke: #F8F8F8;
                            stroke-dasharray: 489.5;
                            stroke-dashoffset: 489.5;
                            position: relative;
                            &:nth-child(1){
                                stroke-dashoffset: 0;
                                stroke: #F8F8F8;
                            }
                            &:nth-child(2){
                                stroke: #166D9A;
                                &:hover{
                                    cursor: pointer;
                                    stroke: #358fbd;
                                }
                            }
                        }
                    }

                }
                .second__box{
                    width: 130px;
                    height: 130px;
                    border-radius: 50%;
                    margin: 0 auto;
                    display: flex;
                    align-items: center;
                    position: relative;
                    .second--circle{
                        top: 0;
                        left: 0;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        circle{
                            width: 100%;
                            height: 100%;
                            fill: none;
                            stroke-width: 35;
                            stroke: #F8F8F8;
                            stroke-dasharray: 313.8;
                            stroke-dashoffset: 313.8;
                            position: relative;
                            &:nth-child(1){
                                stroke-dashoffset: 0;
                                stroke: #F8F8F8;
                            }
                            &:nth-child(2){
                                stroke: #00E7FC;
                                &:hover{
                                    cursor: pointer;
                                    stroke: #19ccdc;
                                }
                            }
                        }
                    }
                }
                .three__box{
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    margin: 0 auto;
                    position: relative;
                    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.9));
                    .three--circle{
                        top: 0;
                        left: 0;
                        position: absolute;
                        background-color: green;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        circle{
                            width: 100%;
                            height: 100%;
                            fill: #fff;
                        }


                    }
                }

                .progress_description{
                    display: none;
                    margin-top: 10px;
                    p{
                        font-size: .8rem;
                        line-height: 1rem;
                        display: flex;
                        margin: 5px 0;
                        align-items: center;
                        font-family: Helvetica, sans-serif, Arial;
                        .color_icon{
                            width: 10px;
                            height: 10px;
                            display: block;
                            border-radius: 50%;
                            margin-right: 10px;
                        }
                        .bg_rentabilidad{
                            background-color: #00E7FC;
                        }
                        .bg_capital{
                            background-color: #166D9A;
                        }
                        span{
                            font-weight: bold;
                        }

                        &:nth-child(1){
                            color: #166D9A;
                        }
                        &:nth-child(2){
                            color: #00E7FC;
                        }
                    }
                }
                .content--teminos{
                    margin-top: 2%;
                    box-sizing: border-box;
                    p{
                        font-size: .8rem;
                        color: #1F1F1F;
                        font-weight: 300;
                        font-family: Helvetica, sans-serif, Arial;
                    }
                }
            }
        }
        .calculadora__footer{
            margin: auto;
            width: 50%;
            p{
                text-align: center;
                font-size: 1.2rem;
                font-weight: 300;
                color: #949494;
                font-family: Helvetica, sans-serif, Arial;
            }
        }
    }
}


.article-herramienta-4{
    .calculadora__content{
        margin: 5% 12%;
        background-color: #FFFFFF;
        .calculadora--title{
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            h2{
                text-align: center;
                font-size: 2rem;
                color: #373737;
                line-height: 2.3rem;
                letter-spacing: 1px;
                text-transform: uppercase;
                font-family: roboto-regular, sans-serif, Arial;
            }
        }
        .calculadora__section{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 3% 0;
            .section--form{
                box-sizing: border-box;
                width: 56%;

                form{
                    .first__box, .second__box{
                        box-sizing: border-box;
                        width: 100%;
                        padding: 6%;
                        background-color: #F8F8F8;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        filter: drop-shadow(0px 3px 4px rgba(0,0,0,0.6));
                    }
                    .second__box{
                        margin-top: 4%;
                        h2{
                            margin-bottom: 5%;
                            font-size: 1.2rem;
                            font-family: roboto-regular, sans-serif, Arial;
                        }
                    }
                    label{
                        font-size: 0.75rem;
                        color: #060606;
                        font-weight: bold;
                        height: 2rem;
                        font-family: Helvetica, sans-serif, Arial;
                    }
                    .form__group{
                        width: 40%;
                        box-sizing: border-box;
                        display: flex;
                        flex-direction: column;
                        .control--input{
                            font-size: 0.938rem;
                            margin: 5px 0 25px;
                        }
                        select{
                            width: 100%;
                            border: 1px solid #000;
                            outline: none;
                            border-radius: 5px  15px;
                            padding: 5px 20px;
                            appearance: none;
                            margin-bottom: 30px;
                            background: url("../img/arrow.png") transparent no-repeat calc(100% - 10px) !important;
                        }
                        input[type="text"]{
                            width: auto;
                            border: none;
                            outline: none;
                            border-bottom: 1px solid #000;
                            padding: 5px;
                            background-color: transparent;
                        }
                        .input--result{
                            margin-bottom:50px;
                        }
                        .error{
                            color: #9d0208;
                            display: none;
                            font-size: .8rem;
                            position: relative;
                            top: -20px;
                            font-family: Helvetica, sans-serif, Arial;
                        }
                        .error-active{
                            display: block;
                        }

                    }
                    .form__unit{
                        width: 100%;
                    }
                    .form__unit button{
                        font-family: mont-regular, sans-serif;
                        margin: 5% auto 0;
                        display: block;
                        padding: 10px 50px;
                        border: none;
                        outline: none;
                        border-radius: 5px 20px;
                        background:linear-gradient(to top, #757575 ,#9B9B9B ,#DCDCDC );
                        text-transform: uppercase;
                        font-weight: bold;
                        font-size: 1rem;
                        color: #010101;
                        transition: all 0.5s ease-in-out;
                        &:hover{
                            transform: translateY(-5px);
                            cursor: pointer;
                        }
                        &:active{
                            transform: translateY(5px);
                        }
                    }
                }
            }
            .section--graph{
                box-sizing: border-box;
                width: 42%;
                min-height: 900px;
                display: none;
                padding: 5% 3%;
                position: relative;
                .image__conent{
                    position:absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    z-index: 1;
                    padding: 10% 0;
                    height:30%;
                    box-sizing: border-box;
                    img{
                        display: block;
                        height: 200px;
                        width: 100%;
                        margin: auto;
                        object-fit: cover;
                        object-position: center;
                    }
                }
                /*Resultados*/
                .result__content{
                    position: absolute;
                    top: 18.5%;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    padding: 20% 10% 10%;
                    background-color: #F8F8F8;
                    filter: drop-shadow(0px 3px 4px rgba(0,0,0,0.6));
                    display: block;
                    text-align: center;
                    .result--header{
                        .name, .test{
                            font-size: 1.2rem;
                            font-weight: bold;
                            font-family: Helvetica, sans-serif, Arial;
                        }
                        h2{
                            font-size: 1.2rem;
                            font-family: roboto-regular, sans-serif, Arial;
                        }
                    }
                    .text--result{
                        h2{
                            font-size: 1.2rem;
                            font-weight: bold;
                            font-family: roboto-regular, sans-serif, Arial;
                        }
                    }
                    p, h2{
                        margin-top: 5%;
                    }
                    p{
                        font-family: Helvetica, sans-serif, Arial;
                        font-size:.9rem;
                        font-weight: 300;
                    }
                }

            }
        }
        .calculadora__footer{
            margin: auto;
            width: 50%;
            p{
                text-align: center;
                font-size: 1.2rem;
                font-weight: 300;
                color: #949494;
                font-family: Helvetica, sans-serif, Arial;
            }
        }
    }
}

.article-herramienta-5{
    .calculadora__content{
        margin: 5% 12%;
        background-color: #FFFFFF;
        .calculadora--title{
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            h2{
                text-align: center;
                font-size: 2rem;
                color: #373737;
                line-height: 2.3rem;
                letter-spacing: 1px;
                text-transform: uppercase;
                font-family: roboto-regular, sans-serif, Arial;
            }
            p{
                width: 40%;
                margin-top: 3%;
                text-align: center;
                font-size: 1.2rem;
                font-weight: 300;
                color: #5B6167;
                font-family: Helvetica, sans-serif, Arial;
            }
        }
        .calculadora__section{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 3% 0;
            .section--form{
                box-sizing: border-box;
                width: 56%;
                padding: 5% 4%;
                background-color: #F8F8F8;
                filter: drop-shadow(0px 3px 4px rgba(0,0,0,0.6));
                form{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    label{
                        font-size: 0.75rem;
                        color: #060606;
                        font-weight: bold;
                        height: 3rem;
                        font-family: Helvetica, sans-serif, Arial;
                        span{
                            font-size: 0.625rem ;
                            font-weight: 300;
                            display: block;
                            line-height: 1rem;
                        }
                    }
                    /*.label_heigth{
                        height: 5rem;
                    }*/
                    .form__group{
                        width: 46%;
                        display: flex;
                        flex-direction: column;
                        align-content: flex-end;
                        .control--input{
                            font-size: 0.938rem;
                        }
                        /*p{
                            font-size: 0.625rem ;
                        }*/
                        select{
                            width: 76%;
                            border: 1px solid #000;
                            outline: none;
                            border-radius: 5px  15px;
                            padding: 5px 20px;
                            margin-bottom: 50px;
                            appearance: none;
                            background: url("../img/arrow.png") transparent no-repeat calc(100% - 10px) !important;
                        }
                        input[type="text"]{
                            width: 60%;
                            border: none;
                            outline: none;
                            border-bottom: 1px solid #000;
                            padding: 5px 20px;
                            background: url("../img/dollar.png") transparent no-repeat 2px 8px !important;
                        }
                        .input--result{
                            margin-bottom:50px;
                        }
                        .error{
                            margin-bottom: 20px;
                            color: #9d0208;
                            display: none;
                            font-size: .8rem;
                        }
                        .error-active{
                            display: block;
                        }
                    }
                    .form__unit{
                        width: 100%;
                        .content-slider{
                            position: relative;
                            width: 100%;
                            .slider{
                                height: 60px;
                                .show-value{
                                    position: relative;
                                    width: 100%;
                                    height: 25px;
                                    span{
                                        position: absolute;
                                        text-align: center;
                                        font-size: 1rem;
                                        font-weight: 700;
                                        color: #0f1540;
                                        bottom: 0;
                                        left: 50%;
                                        transform: translateX(-10%)  scale(0);
                                        transform-origin:bottom ;
                                        transition: transform 300ms ease-in-out;
                                    }
                                    span.active {
                                        transform: translateX(-50%) scale(1);
                                    }
                                }
                                input[type='range']{
                                    -webkit-appearance: none;
                                    width: 100%;
                                    height: 3px;
                                    background-color: #0f1540;
                                    outline: none;
                                    border: none;
                                }
                                input[type='range']::-webkit-slider-thumb{
                                    -webkit-appearance: none;
                                    width: 10px;
                                    height: 20px;
                                    background-color: #0f1540;
                                    cursor: pointer;
                                }
                                .range div{
                                    position: absolute;
                                    color: #0f1540;
                                    font-weight: 600;
                                    font-size: 1rem;
                                }
                                .range div:nth-child(2){
                                    right: 0;
                                }
                            }
                        }

                    }
                    .form__unit button{
                        font-family: mont-regular, sans-serif;
                        margin: 5% auto 0;
                        display: block;
                        padding: 10px 50px;
                        border: none;
                        outline: none;
                        border-radius: 5px 20px;
                        background:linear-gradient(to top, #757575 ,#9B9B9B ,#DCDCDC );
                        text-transform: uppercase;
                        font-weight: bold;
                        font-size: 1rem;
                        color: #010101;
                        transition: all 0.5s ease-in-out;
                        &:hover{
                            transform: translateY(-5px);
                            cursor: pointer;
                        }
                        &:active{
                            transform: translateY(5px);
                        }
                    }
                }
            }
            .section--graph{
                box-sizing: border-box;
                width: 42%;
                min-height: 500px;
                display: none;
                padding: 5% 3%;
                background-color: #F8F8F8;
                filter: drop-shadow(0px 3px 4px rgba(0,0,0,0.6));
                position: relative;
                /*Resultados*/
                .result__content{
                    .result--header{

                        h2{
                            font-size: 3rem;
                            font-weight: 500;
                            font-family: roboto-regular, sans-serif, Arial;
                        }
                        p{
                            margin-top: 5px;
                            text-transform: uppercase;
                            font-size: 1.2rem;
                            font-family: Helvetica, sans-serif, Arial;
                        }
                    }
                    .result--table{
                        display: flex;
                        flex-direction: column;
                        max-height: 250px;
                        overflow: auto;
                        .table--row{
                            display: flex;
                            justify-content: space-between;
                            p{
                                font-size: 1rem;
                                margin-top: 20px;
                                font-family: Helvetica, sans-serif, Arial;
                            }
                            .years{
                                font-weight: bold;
                            }
                            .cash{
                                font-weight: 300;
                                margin-right: 20px;
                            }
                        }
                    }
                }
                .content--teminos{
                    position: absolute;
                    left: 0;
                    bottom: 5%;
                    padding: 5% 7% 0;
                    p{
                        font-size: .9rem;
                        font-family: Helvetica, sans-serif, Arial;
                    }
                }
            }
        }
        .calculadora__footer{
            margin: auto;
            width: 50%;
            p{
                text-align: center;
                font-size: 1.2rem;
                font-weight: 300;
                color: #949494;
                font-family: Helvetica, sans-serif, Arial;
            }
        }
    }
}

.container-links{

    max-width: 1366px;
    margin: 80px auto;
    border-radius: 0.8rem;
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.9));
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.4rem;
    padding: 2.4rem;
    border: 1px solid #000;
    a{
        text-decoration: none;
        font-size: 0.7rem;
        font-weight: bold;
        color: #000;
        padding: 0.4rem 0.8rem;
        border-radius: 0.4rem;
        border: 1px solid #000;
        transition: all 0.5s ease-in;
        &:hover{
            background-color: rgba(0, 0, 0, 0.6);
            color: #fff;
        }
    }
}


@media  screen and  (max-width:450px) {
    .calculadora__content{
        
        .calculadora--title{

             h2{
                 font-size: 1.2rem;
             }
             p{
                 font-size: .9rem;
             }
        }
        .calculadora__section{

            .section--form{
                
                form{
                    
                    
                    label{
                        height: auto;
                    }
                    .form__group{
                        width: 100%;
                        input[type="text"]{
                            width: auto;
                            margin-bottom: 30px;
                        
                        }
                        select{
                            width: auto;

                        }
                        .control--input{
                            font-size: 0.938rem;
                            margin-top: 10px;
                        }
                        
                    }
                    
                    .form__unit button{
                        font-size: .8rem;
                    }
                }
            }
            .section--graph{
                /*Grafico de porcentajes*/
                
                .first__box{
                    margin-left: calc( 50% - 90px );
                }

                /*Resultados*/

                .values--result{
                    .result__content{
                        .result-item{
                            h2{
                                font-size: 1.5rem;

                            }
                            p{
                                font-size: .9rem;
                            }
                        }
                    }
                    .content--teminos{
                        p{
                            font-size: 0.6rem;
                        }
                    }
                }

                .result__content{

                    .result--header{
                        h2{
                            font-size: 2rem;
                        }
                        p{
                            font-size: .9rem;
                        }
                    }
                    .result--table{
                        .table--row{
                            p{
                                font-size: .9rem;
                            }
                        }
                    }
                }
                .content--teminos{
                    p{
                        font-size: .8rem;
                    }
                }
            }
        }
        .calculadora__footer{
            p{
                font-size: .9rem;
            }
        }
    }
}

@media screen and (max-width:600px) {
    .article-herramienta,
    .article-herramienta-2,
    .article-herramienta-3,
    .article-herramienta-4,
    .article-herramienta-5,
    .article-result-1{

        .calculadora__content{
            .calculadora--title{
                
                h2{
                    font-size: 1.7rem;
                }
                p{
                    font-size: 1.1rem;
                }
            }
            .calculadora__section{
                .section--form{
                    
                    form{
                        
                        
                        label{
                            height: auto;
                        }
                        .form__group{
                            width: 100%;
                            input[type="text"]{
                                width: auto;
                                margin-bottom: 30px;
                            }
                            select{
                                width: auto;

                            }
                            .control--input{
                                font-size: 0.938rem;
                                margin-top: 10px;
                            }
                        }
                    }
                }
                .section--graph{

                    /*Grafico de porcentajes*/
                    .first__box{
                        margin-left: calc( 50% - 90px );
                    }

                    /*Resultados*/

                    .values--result{
                        width: 100%;
                        box-sizing: border-box;
                        
                    }
                }
            }
            .calculadora__footer{
                p{
                    font-size: 1.1rem;
                }
            }
        }

        .anuncio__content{
            .anuncio--body{
                h2{
                    font-size: 1.5rem;
                }

            }
        }

        .options__content{
            .options--title{
                h2{
                    font-size: 1.8rem;
                }
            }
            .options--item{
                .item{
                    width: 100%;
                    .item--paragraph{
                        min-height: auto;
                        position: relative ;
                        margin-top: 5%;
                        a{
                            position: relative;
                            margin-top: 5%;
                        }
                    }
                }
            }
        }

    }
}

@media screen and (max-width:750px) {
    .article-herramienta,
    .article-herramienta-2,
    .article-herramienta-3,
    .article-herramienta-4,
    .article-herramienta-5,
    .article-result-1{
        .calculadora__content{
            .calculadora--title{
                p{
                    width: 100%;
                }
            }
            .calculadora__footer{
                width: 100%;
            }
        }

    }
}

@media screen and (max-width:900px) {
    
}

@media screen and (max-width:1100px) {
    .article-herramienta,
.article-herramienta-2,
.article-herramienta-3,
.article-herramienta-4,
.article-herramienta-5,
.article-result-1{

    .calculadora__content{
        .calculadora__section{
            .section--form{
                width: 100%;
            }
            .section--graph{
                width: 100%;
            }
        }
    }

    .informacion__content{
        flex-direction: column;
        align-items: center;
        .informacion--img{
            width: 50%;
        }
        .informacion--description{
            width: 100%;
        }
    }

    .options__content{
        .options--item{
            .item{
                .item--paragraph{
                    min-height: 260px;
                    
                }
            }
        }
    }

}
}