* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.article-herramienta .calculadora__content {
  margin: 5% 12%;
  background-color: #FFFFFF;
}
.article-herramienta .calculadora__content .calculadora--title {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.article-herramienta .calculadora__content .calculadora--title h2 {
  text-align: center;
  font-size: 2rem;
  color: #373737;
  line-height: 2.3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: roboto-regular, sans-serif, Arial;
}
.article-herramienta .calculadora__content .calculadora--title p {
  width: 50%;
  margin-top: 3%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 300;
  color: #5B6167;
  font-family: Helvetica, sans-serif, Arial;
}
.article-herramienta .calculadora__content .calculadora__section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3% 0;
}
.article-herramienta .calculadora__content .calculadora__section .section--form {
  box-sizing: border-box;
  width: 56%;
  padding: 5% 4%;
  background-color: #F8F8F8;
  filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.6));
}
.article-herramienta .calculadora__content .calculadora__section .section--form form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.article-herramienta .calculadora__content .calculadora__section .section--form form label {
  font-size: 0.75rem;
  color: #060606;
  font-weight: bold;
  height: 3.5rem;
  font-family: Helvetica, sans-serif, Arial;
}
.article-herramienta .calculadora__content .calculadora__section .section--form form label span {
  font-size: 0.625rem ;
  font-weight: 300;
  display: block;
  line-height: 1rem;
}
.article-herramienta .calculadora__content .calculadora__section .section--form form .form__group {
  width: 46%;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
}
.article-herramienta .calculadora__content .calculadora__section .section--form form .form__group .control--input {
  font-size: 0.938rem;
}
.article-herramienta .calculadora__content .calculadora__section .section--form form .form__group select {
  width: 76%;
  border: 1px solid #000;
  outline: none;
  border-radius: 5px  15px;
  padding: 5px 20px;
  margin-bottom: 30px;
  appearance: none;
  background: url("../img/arrow.png") transparent no-repeat calc(90%) !important;
}
.article-herramienta .calculadora__content .calculadora__section .section--form form .form__group input[type="text"] {
  width: 60%;
  border: none;
  outline: none;
  border-bottom: 1px solid #000;
  padding: 5px 25px;
  background: url("../img/cash.png") transparent no-repeat 2px 8px !important;
}
.article-herramienta .calculadora__content .calculadora__section .section--form form .form__group .error {
  margin-bottom: 20px;
  color: #9d0208;
  display: none;
  font-size: .8rem;
  font-family: Helvetica, sans-serif, Arial;
}
.article-herramienta .calculadora__content .calculadora__section .section--form form .form__group .error-active {
  display: block;
}
.article-herramienta .calculadora__content .calculadora__section .section--form form .form__unit {
  width: 100%;
}
.article-herramienta .calculadora__content .calculadora__section .section--form form .form__unit .content-slider {
  position: relative;
  width: 100%;
}
.article-herramienta .calculadora__content .calculadora__section .section--form form .form__unit .content-slider .slider {
  height: 60px;
}
.article-herramienta .calculadora__content .calculadora__section .section--form form .form__unit .content-slider .slider .show-value {
  position: relative;
  width: 100%;
  height: 25px;
}
.article-herramienta .calculadora__content .calculadora__section .section--form form .form__unit .content-slider .slider .show-value span {
  position: absolute;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  color: #0f1540;
  bottom: 0;
  left: 50%;
  transform: translateX(-10%) scale(0);
  transform-origin: bottom ;
  transition: transform 300ms ease-in-out;
}
.article-herramienta .calculadora__content .calculadora__section .section--form form .form__unit .content-slider .slider .show-value span.active {
  transform: translateX(-50%) scale(1);
}
.article-herramienta .calculadora__content .calculadora__section .section--form form .form__unit .content-slider .slider input[type='range'] {
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  background-color: #0f1540;
  outline: none;
  border: none;
}
.article-herramienta .calculadora__content .calculadora__section .section--form form .form__unit .content-slider .slider input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 20px;
  background-color: #0f1540;
  cursor: pointer;
}
.article-herramienta .calculadora__content .calculadora__section .section--form form .form__unit .content-slider .slider .range div {
  position: absolute;
  color: #0f1540;
  font-weight: 600;
  font-size: 1rem;
}
.article-herramienta .calculadora__content .calculadora__section .section--form form .form__unit .content-slider .slider .range div:nth-child(2) {
  right: 0;
}
.article-herramienta .calculadora__content .calculadora__section .section--form form .form__unit button {
  margin: 5% auto 0;
  display: block;
  padding: 10px 50px;
  border: none;
  outline: none;
  border-radius: 5px 20px;
  background: linear-gradient(to top, #757575, #9b9b9b, #dcdcdc);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  font-family: mont-regular, sans-serif;
  color: #010101;
  transition: all 0.5s ease-in-out;
}
.article-herramienta .calculadora__content .calculadora__section .section--form form .form__unit button:hover {
  transform: translateY(-5px);
  cursor: pointer;
}
.article-herramienta .calculadora__content .calculadora__section .section--form form .form__unit button:active {
  transform: translateY(5px);
}
.article-herramienta .calculadora__content .calculadora__section .section--graph {
  box-sizing: border-box;
  width: 42%;
  display: none;
  padding: 5% 3% 3%;
  background-color: #F8F8F8;
  filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.6));
  position: relative;
  /*Resultados*/
}
.article-herramienta .calculadora__content .calculadora__section .section--graph .first__box {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin-left: 45%;
  display: none;
  align-items: center;
  position: relative;
  transform: rotate(90deg);
}
.article-herramienta .calculadora__content .calculadora__section .section--graph .first__box .first--circle {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.article-herramienta .calculadora__content .calculadora__section .section--graph .first__box .first--circle circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 35;
  stroke: #F8F8F8;
  stroke-dasharray: 489.5;
  stroke-dashoffset: 489.5;
  position: relative;
}
.article-herramienta .calculadora__content .calculadora__section .section--graph .first__box .first--circle circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #F8F8F8;
}
.article-herramienta .calculadora__content .calculadora__section .section--graph .first__box .first--circle circle:nth-child(2) {
  stroke: #166D9A;
}
.article-herramienta .calculadora__content .calculadora__section .section--graph .first__box .first--circle circle:nth-child(2):hover {
  cursor: pointer;
  stroke: #358fbd;
}
.article-herramienta .calculadora__content .calculadora__section .section--graph .second__box {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
}
.article-herramienta .calculadora__content .calculadora__section .section--graph .second__box .second--circle {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.article-herramienta .calculadora__content .calculadora__section .section--graph .second__box .second--circle circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 35;
  stroke: #F8F8F8;
  stroke-dasharray: 313.8;
  stroke-dashoffset: 313.8;
  position: relative;
}
.article-herramienta .calculadora__content .calculadora__section .section--graph .second__box .second--circle circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #F8F8F8;
}
.article-herramienta .calculadora__content .calculadora__section .section--graph .second__box .second--circle circle:nth-child(2) {
  stroke: #00E7FC;
}
.article-herramienta .calculadora__content .calculadora__section .section--graph .second__box .second--circle circle:nth-child(2):hover {
  cursor: pointer;
  stroke: #19ccdc;
}
.article-herramienta .calculadora__content .calculadora__section .section--graph .three__box {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.9));
}
.article-herramienta .calculadora__content .calculadora__section .section--graph .three__box .three--circle {
  top: 0;
  left: 0;
  position: absolute;
  background-color: green;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.article-herramienta .calculadora__content .calculadora__section .section--graph .three__box .three--circle circle {
  width: 100%;
  height: 100%;
  fill: #fff;
}
.article-herramienta .calculadora__content .calculadora__section .section--graph .progress_description {
  display: none;
  margin-top: 10px;
}
.article-herramienta .calculadora__content .calculadora__section .section--graph .progress_description p {
  font-size: .8rem;
  line-height: 1rem;
  display: flex;
  margin: 5px 0;
  align-items: center;
  font-family: Helvetica, sans-serif, Arial;
}
.article-herramienta .calculadora__content .calculadora__section .section--graph .progress_description p .color_icon {
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 50%;
  margin-right: 10px;
}
.article-herramienta .calculadora__content .calculadora__section .section--graph .progress_description p .bg_rentabilidad {
  background-color: #00E7FC;
}
.article-herramienta .calculadora__content .calculadora__section .section--graph .progress_description p .bg_capital {
  background-color: #166D9A;
}
.article-herramienta .calculadora__content .calculadora__section .section--graph .progress_description p span {
  font-weight: bold;
}
.article-herramienta .calculadora__content .calculadora__section .section--graph .progress_description p:nth-child(1) {
  color: #166D9A;
}
.article-herramienta .calculadora__content .calculadora__section .section--graph .progress_description p:nth-child(2) {
  color: #00E7FC;
}
.article-herramienta .calculadora__content .calculadora__section .section--graph .values--result {
  width: 100%;
  box-sizing: border-box;
}
.article-herramienta .calculadora__content .calculadora__section .section--graph .values--result .result__content .result-item {
  width: auto;
  margin-top: 10px;
}
.article-herramienta .calculadora__content .calculadora__section .section--graph .values--result .result__content .result-item h2 {
  font-size: 2rem;
  font-weight: 500;
  font-family: roboto-regular, sans-serif, Arial;
}
.article-herramienta .calculadora__content .calculadora__section .section--graph .values--result .result__content .result-item p {
  font-size: 1rem;
  font-weight: 300;
  color: #5B5B5B;
  text-transform: uppercase;
  font-family: Helvetica, sans-serif, Arial;
}
.article-herramienta .calculadora__content .calculadora__section .section--graph .values--result .content--teminos {
  margin-top: 5%;
}
.article-herramienta .calculadora__content .calculadora__section .section--graph .values--result .content--teminos p {
  font-size: 0.625rem;
  color: #5B5B5B;
  font-family: Helvetica, sans-serif, Arial;
}
.article-herramienta .calculadora__content .calculadora__footer {
  margin: auto;
  width: 50%;
}
.article-herramienta .calculadora__content .calculadora__footer p {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 300;
  color: #949494;
  font-family: Helvetica, sans-serif, Arial;
}
.article-herramienta-2 .calculadora__content {
  margin: 5% 12%;
  background-color: #FFFFFF;
}
.article-herramienta-2 .calculadora__content .calculadora--title {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.article-herramienta-2 .calculadora__content .calculadora--title h2 {
  text-align: center;
  font-size: 2rem;
  color: #373737;
  line-height: 2.3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: roboto-regular, sans-serif, Arial;
}
.article-herramienta-2 .calculadora__content .calculadora--title p {
  width: 50%;
  margin-top: 3%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 300;
  color: #5B6167;
  font-family: Helvetica, sans-serif, Arial;
}
.article-herramienta-2 .calculadora__content .calculadora__section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3% 0;
}
.article-herramienta-2 .calculadora__content .calculadora__section .section--form {
  box-sizing: border-box;
  width: 56%;
  padding: 5% 4%;
  background-color: #F8F8F8;
  filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.6));
}
.article-herramienta-2 .calculadora__content .calculadora__section .section--form form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.article-herramienta-2 .calculadora__content .calculadora__section .section--form form label {
  font-size: 0.75rem;
  color: #060606;
  font-weight: bold;
  height: 3.5rem;
  font-family: Helvetica, sans-serif, Arial;
}
.article-herramienta-2 .calculadora__content .calculadora__section .section--form form .form__group {
  width: 46%;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
}
.article-herramienta-2 .calculadora__content .calculadora__section .section--form form .form__group .control--input {
  font-size: 0.938rem;
}
.article-herramienta-2 .calculadora__content .calculadora__section .section--form form .form__group p {
  font-size: 0.625rem ;
  font-family: Helvetica, sans-serif, Arial;
}
.article-herramienta-2 .calculadora__content .calculadora__section .section--form form .form__group select {
  width: 76%;
  border: 1px solid #000;
  outline: none;
  border-radius: 5px  15px;
  padding: 5px 20px;
  appearance: none;
  margin-bottom: 50px;
  background: url("../img/arrow.png") transparent no-repeat calc(90%) !important;
}
.article-herramienta-2 .calculadora__content .calculadora__section .section--form form .form__group input[type="text"] {
  width: 60%;
  border: none;
  outline: none;
  border-bottom: 1px solid #000;
  padding: 5px 25px;
  background: url("../img/cash.png") transparent no-repeat 2px 8px !important;
}
.article-herramienta-2 .calculadora__content .calculadora__section .section--form form .form__group .error {
  margin-bottom: 20px;
  color: #9d0208;
  display: none;
  font-size: .8rem;
  font-family: Helvetica, sans-serif, Arial;
}
.article-herramienta-2 .calculadora__content .calculadora__section .section--form form .form__group .error-active {
  display: block;
}
.article-herramienta-2 .calculadora__content .calculadora__section .section--form form .form__unit {
  width: 100%;
}
.article-herramienta-2 .calculadora__content .calculadora__section .section--form form .form__unit button {
  margin: 2% auto 0;
  display: block;
  padding: 10px 50px;
  border: none;
  outline: none;
  border-radius: 5px 20px;
  background: linear-gradient(to top, #757575, #9b9b9b, #dcdcdc);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  color: #010101;
  transition: all 0.5s ease-in-out;
}
.article-herramienta-2 .calculadora__content .calculadora__section .section--form form .form__unit button:hover {
  transform: translateY(-5px);
  cursor: pointer;
}
.article-herramienta-2 .calculadora__content .calculadora__section .section--form form .form__unit button:active {
  transform: translateY(5px);
}
.article-herramienta-2 .calculadora__content .calculadora__section .section--graph {
  box-sizing: border-box;
  display: none;
  width: 42%;
  padding: 3%;
  background-color: #F8F8F8;
  filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.6));
  /*Result top*/
  /*Grafico de porcentajes*/
  /*Resultados*/
}
.article-herramienta-2 .calculadora__content .calculadora__section .section--graph .values--result {
  width: 100%;
  box-sizing: border-box;
}
.article-herramienta-2 .calculadora__content .calculadora__section .section--graph .values--result h2 {
  display: none;
  font-size: 1.2rem;
  font-weight: 500;
  color: #000 ;
  font-family: roboto-regular, sans-serif, Arial;
}
.article-herramienta-2 .calculadora__content .calculadora__section .section--graph .values--result p {
  font-size: .9rem;
  font-weight: 300;
  color: #515151 ;
  margin-top: 5px;
  font-family: Helvetica, sans-serif, Arial;
}
.article-herramienta-2 .calculadora__content .calculadora__section .section--graph .values--result span {
  font-size: 2.2rem;
  font-weight: bold;
  color: #060606;
  font-family: Helvetica, sans-serif, Arial;
}
.article-herramienta-2 .calculadora__content .calculadora__section .section--graph .first__box {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin-left: 40%;
  margin-top: 26px;
  display: none;
  align-items: center;
  position: relative;
  transform: rotate(90deg);
}
.article-herramienta-2 .calculadora__content .calculadora__section .section--graph .first__box .first--circle {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.article-herramienta-2 .calculadora__content .calculadora__section .section--graph .first__box .first--circle circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 35;
  stroke: #F8F8F8;
  stroke-dasharray: 489.5;
  stroke-dashoffset: 489.5;
  position: relative;
}
.article-herramienta-2 .calculadora__content .calculadora__section .section--graph .first__box .first--circle circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #F8F8F8;
}
.article-herramienta-2 .calculadora__content .calculadora__section .section--graph .first__box .first--circle circle:nth-child(2) {
  stroke: #166D9A;
}
.article-herramienta-2 .calculadora__content .calculadora__section .section--graph .first__box .first--circle circle:nth-child(2):hover {
  cursor: pointer;
  stroke: #358fbd;
}
.article-herramienta-2 .calculadora__content .calculadora__section .section--graph .second__box {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
}
.article-herramienta-2 .calculadora__content .calculadora__section .section--graph .second__box .second--circle {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.article-herramienta-2 .calculadora__content .calculadora__section .section--graph .second__box .second--circle circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 35;
  stroke: #F8F8F8;
  stroke-dasharray: 313.8;
  stroke-dashoffset: 313.8;
  position: relative;
}
.article-herramienta-2 .calculadora__content .calculadora__section .section--graph .second__box .second--circle circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #F8F8F8;
}
.article-herramienta-2 .calculadora__content .calculadora__section .section--graph .second__box .second--circle circle:nth-child(2) {
  stroke: #00E7FC;
}
.article-herramienta-2 .calculadora__content .calculadora__section .section--graph .second__box .second--circle circle:nth-child(2):hover {
  cursor: pointer;
  stroke: #19ccdc;
}
.article-herramienta-2 .calculadora__content .calculadora__section .section--graph .three__box {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.9));
}
.article-herramienta-2 .calculadora__content .calculadora__section .section--graph .three__box .three--circle {
  top: 0;
  left: 0;
  position: absolute;
  background-color: green;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.article-herramienta-2 .calculadora__content .calculadora__section .section--graph .three__box .three--circle circle {
  width: 100%;
  height: 100%;
  fill: #fff;
}
.article-herramienta-2 .calculadora__content .calculadora__section .section--graph .progress_description {
  display: none;
  margin-top: 15px;
}
.article-herramienta-2 .calculadora__content .calculadora__section .section--graph .progress_description p {
  font-size: .8rem;
  line-height: 1rem;
  display: flex;
  margin: 5px 0;
  align-items: center;
  font-family: Helvetica, sans-serif, Arial;
}
.article-herramienta-2 .calculadora__content .calculadora__section .section--graph .progress_description p .color_icon {
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 50%;
  margin-right: 10px;
}
.article-herramienta-2 .calculadora__content .calculadora__section .section--graph .progress_description p .bg_rentabilidad {
  background-color: #00E7FC;
}
.article-herramienta-2 .calculadora__content .calculadora__section .section--graph .progress_description p .bg_capital {
  background-color: #166D9A;
}
.article-herramienta-2 .calculadora__content .calculadora__section .section--graph .progress_description p span {
  font-weight: bold;
}
.article-herramienta-2 .calculadora__content .calculadora__section .section--graph .progress_description p:nth-child(1) {
  color: #166D9A;
}
.article-herramienta-2 .calculadora__content .calculadora__section .section--graph .progress_description p:nth-child(2) {
  color: #00E7FC;
}
.article-herramienta-2 .calculadora__content .calculadora__section .section--graph .content--teminos {
  box-sizing: border-box;
}
.article-herramienta-2 .calculadora__content .calculadora__section .section--graph .content--teminos p {
  font-size: 0.625rem;
  color: #1F1F1F;
  font-weight: 300;
  font-family: Helvetica, sans-serif, Arial;
}
.article-herramienta-2 .calculadora__content .calculadora__footer {
  margin: auto;
  width: 50%;
}
.article-herramienta-2 .calculadora__content .calculadora__footer p {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 300;
  color: #949494;
  font-family: Helvetica, sans-serif, Arial;
}
.article-herramienta-3 .calculadora__content {
  margin: 5% 12%;
  background-color: #FFFFFF;
}
.article-herramienta-3 .calculadora__content .calculadora--title {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.article-herramienta-3 .calculadora__content .calculadora--title h2 {
  text-align: center;
  font-size: 2rem;
  color: #373737;
  line-height: 2.3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: roboto-regular, sans-serif, Arial;
}
.article-herramienta-3 .calculadora__content .calculadora--title p {
  width: 50%;
  margin-top: 3%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 300;
  color: #5B6167;
  font-family: Helvetica, sans-serif, Arial;
}
.article-herramienta-3 .calculadora__content .calculadora__section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition: all 2s ease-in-out;
  margin: 3% 0;
}
.article-herramienta-3 .calculadora__content .calculadora__section .section--form {
  box-sizing: border-box;
  width: 56%;
  padding: 5% 4%;
  background-color: #F8F8F8;
  filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.6));
}
.article-herramienta-3 .calculadora__content .calculadora__section .section--form form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.article-herramienta-3 .calculadora__content .calculadora__section .section--form form label {
  font-size: 0.75rem;
  color: #060606;
  font-weight: bold;
  height: 3.5rem;
  font-family: Helvetica, sans-serif, Arial;
}
.article-herramienta-3 .calculadora__content .calculadora__section .section--form form .form__group {
  width: 46%;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
}
.article-herramienta-3 .calculadora__content .calculadora__section .section--form form .form__group .control--input {
  font-size: 0.938rem;
}
.article-herramienta-3 .calculadora__content .calculadora__section .section--form form .form__group p {
  font-size: 0.625rem ;
  font-family: Helvetica, sans-serif, Arial;
}
.article-herramienta-3 .calculadora__content .calculadora__section .section--form form .form__group select {
  width: 76%;
  border: 1px solid #000;
  outline: none;
  border-radius: 5px  15px;
  padding: 5px 20px;
  appearance: none;
  margin-bottom: 50px;
  background: url("../img/arrow.png") transparent no-repeat calc(90%) !important;
}
.article-herramienta-3 .calculadora__content .calculadora__section .section--form form .form__group input[type="text"] {
  width: 60%;
  border: none;
  outline: none;
  border-bottom: 1px solid #000;
  padding: 5px 25px;
  background: url("../img/cash.png") transparent no-repeat 2px 8px !important;
}
.article-herramienta-3 .calculadora__content .calculadora__section .section--form form .form__group .error {
  margin-bottom: 20px;
  color: #9d0208;
  display: none;
  font-size: .8rem;
}
.article-herramienta-3 .calculadora__content .calculadora__section .section--form form .form__group .error-active {
  display: block;
}
.article-herramienta-3 .calculadora__content .calculadora__section .section--form form .form__unit {
  width: 100%;
}
.article-herramienta-3 .calculadora__content .calculadora__section .section--form form .form__unit .content-slider {
  position: relative;
  width: 100%;
}
.article-herramienta-3 .calculadora__content .calculadora__section .section--form form .form__unit .content-slider .slider {
  height: 60px;
}
.article-herramienta-3 .calculadora__content .calculadora__section .section--form form .form__unit .content-slider .slider .show-value {
  position: relative;
  width: 100%;
  height: 25px;
}
.article-herramienta-3 .calculadora__content .calculadora__section .section--form form .form__unit .content-slider .slider .show-value span {
  position: absolute;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  color: #0f1540;
  bottom: 0;
  left: 50%;
  transform: translateX(-10%) scale(0);
  transform-origin: bottom ;
  transition: transform 300ms ease-in-out;
}
.article-herramienta-3 .calculadora__content .calculadora__section .section--form form .form__unit .content-slider .slider .show-value span.active {
  transform: translateX(-50%) scale(1);
}
.article-herramienta-3 .calculadora__content .calculadora__section .section--form form .form__unit .content-slider .slider input[type='range'] {
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  background-color: #0f1540;
  outline: none;
  border: none;
}
.article-herramienta-3 .calculadora__content .calculadora__section .section--form form .form__unit .content-slider .slider input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 20px;
  background-color: #0f1540;
  cursor: pointer;
}
.article-herramienta-3 .calculadora__content .calculadora__section .section--form form .form__unit .content-slider .slider .range div {
  position: absolute;
  color: #0f1540;
  font-weight: 600;
  font-size: 1rem;
}
.article-herramienta-3 .calculadora__content .calculadora__section .section--form form .form__unit .content-slider .slider .range div:nth-child(2) {
  right: 0;
}
.article-herramienta-3 .calculadora__content .calculadora__section .section--form form .form__unit button {
  margin: 5% auto 0;
  display: block;
  padding: 10px 50px;
  border: none;
  outline: none;
  border-radius: 5px 20px;
  background: linear-gradient(to top, #757575, #9b9b9b, #dcdcdc);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  color: #010101;
  transition: all 0.5s ease-in-out;
}
.article-herramienta-3 .calculadora__content .calculadora__section .section--form form .form__unit button:hover {
  transform: translateY(-5px);
  cursor: pointer;
}
.article-herramienta-3 .calculadora__content .calculadora__section .section--form form .form__unit button:active {
  transform: translateY(5px);
}
.article-herramienta-3 .calculadora__content .calculadora__section .section--graph {
  box-sizing: border-box;
  transition: all 2s ease-in-out;
  width: 42%;
  display: none;
  padding: 3%;
  background-color: #F8F8F8;
  filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.6));
  /*Result top*/
  /*Grafico de porcentajes*/
}
.article-herramienta-3 .calculadora__content .calculadora__section .section--graph .values--result {
  width: 100%;
  box-sizing: border-box;
}
.article-herramienta-3 .calculadora__content .calculadora__section .section--graph .values--result h2 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #000 ;
  font-family: roboto-regular, sans-serif, Arial;
}
.article-herramienta-3 .calculadora__content .calculadora__section .section--graph .values--result p {
  font-size: .9rem;
  color: #1F1F1F;
  font-weight: 300;
  margin-top: 3%;
  font-family: Helvetica, sans-serif, Arial;
}
.article-herramienta-3 .calculadora__content .calculadora__section .section--graph .values--result span {
  font-size: 2.2rem;
  font-weight: bold;
  color: #060606;
  display: block;
  margin-top: 2%;
  font-family: Helvetica, sans-serif, Arial;
}
.article-herramienta-3 .calculadora__content .calculadora__section .section--graph .first__box {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin-left: 45%;
  display: none;
  margin-top: 2%;
  align-items: center;
  position: relative;
  transform: rotate(90deg);
}
.article-herramienta-3 .calculadora__content .calculadora__section .section--graph .first__box .first--circle {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.article-herramienta-3 .calculadora__content .calculadora__section .section--graph .first__box .first--circle circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 35;
  stroke: #F8F8F8;
  stroke-dasharray: 489.5;
  stroke-dashoffset: 489.5;
  position: relative;
}
.article-herramienta-3 .calculadora__content .calculadora__section .section--graph .first__box .first--circle circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #F8F8F8;
}
.article-herramienta-3 .calculadora__content .calculadora__section .section--graph .first__box .first--circle circle:nth-child(2) {
  stroke: #166D9A;
}
.article-herramienta-3 .calculadora__content .calculadora__section .section--graph .first__box .first--circle circle:nth-child(2):hover {
  cursor: pointer;
  stroke: #358fbd;
}
.article-herramienta-3 .calculadora__content .calculadora__section .section--graph .second__box {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
}
.article-herramienta-3 .calculadora__content .calculadora__section .section--graph .second__box .second--circle {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.article-herramienta-3 .calculadora__content .calculadora__section .section--graph .second__box .second--circle circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 35;
  stroke: #F8F8F8;
  stroke-dasharray: 313.8;
  stroke-dashoffset: 313.8;
  position: relative;
}
.article-herramienta-3 .calculadora__content .calculadora__section .section--graph .second__box .second--circle circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #F8F8F8;
}
.article-herramienta-3 .calculadora__content .calculadora__section .section--graph .second__box .second--circle circle:nth-child(2) {
  stroke: #00E7FC;
}
.article-herramienta-3 .calculadora__content .calculadora__section .section--graph .second__box .second--circle circle:nth-child(2):hover {
  cursor: pointer;
  stroke: #19ccdc;
}
.article-herramienta-3 .calculadora__content .calculadora__section .section--graph .three__box {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.9));
}
.article-herramienta-3 .calculadora__content .calculadora__section .section--graph .three__box .three--circle {
  top: 0;
  left: 0;
  position: absolute;
  background-color: green;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.article-herramienta-3 .calculadora__content .calculadora__section .section--graph .three__box .three--circle circle {
  width: 100%;
  height: 100%;
  fill: #fff;
}
.article-herramienta-3 .calculadora__content .calculadora__section .section--graph .progress_description {
  display: none;
  margin-top: 10px;
}
.article-herramienta-3 .calculadora__content .calculadora__section .section--graph .progress_description p {
  font-size: .8rem;
  line-height: 1rem;
  display: flex;
  margin: 5px 0;
  align-items: center;
  font-family: Helvetica, sans-serif, Arial;
}
.article-herramienta-3 .calculadora__content .calculadora__section .section--graph .progress_description p .color_icon {
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 50%;
  margin-right: 10px;
}
.article-herramienta-3 .calculadora__content .calculadora__section .section--graph .progress_description p .bg_rentabilidad {
  background-color: #00E7FC;
}
.article-herramienta-3 .calculadora__content .calculadora__section .section--graph .progress_description p .bg_capital {
  background-color: #166D9A;
}
.article-herramienta-3 .calculadora__content .calculadora__section .section--graph .progress_description p span {
  font-weight: bold;
}
.article-herramienta-3 .calculadora__content .calculadora__section .section--graph .progress_description p:nth-child(1) {
  color: #166D9A;
}
.article-herramienta-3 .calculadora__content .calculadora__section .section--graph .progress_description p:nth-child(2) {
  color: #00E7FC;
}
.article-herramienta-3 .calculadora__content .calculadora__section .section--graph .content--teminos {
  margin-top: 2%;
  box-sizing: border-box;
}
.article-herramienta-3 .calculadora__content .calculadora__section .section--graph .content--teminos p {
  font-size: .8rem;
  color: #1F1F1F;
  font-weight: 300;
  font-family: Helvetica, sans-serif, Arial;
}
.article-herramienta-3 .calculadora__content .calculadora__footer {
  margin: auto;
  width: 50%;
}
.article-herramienta-3 .calculadora__content .calculadora__footer p {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 300;
  color: #949494;
  font-family: Helvetica, sans-serif, Arial;
}
.article-herramienta-4 .calculadora__content {
  margin: 5% 12%;
  background-color: #FFFFFF;
}
.article-herramienta-4 .calculadora__content .calculadora--title {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.article-herramienta-4 .calculadora__content .calculadora--title h2 {
  text-align: center;
  font-size: 2rem;
  color: #373737;
  line-height: 2.3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: roboto-regular, sans-serif, Arial;
}
.article-herramienta-4 .calculadora__content .calculadora__section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3% 0;
}
.article-herramienta-4 .calculadora__content .calculadora__section .section--form {
  box-sizing: border-box;
  width: 56%;
}
.article-herramienta-4 .calculadora__content .calculadora__section .section--form form .first__box,
.article-herramienta-4 .calculadora__content .calculadora__section .section--form form .second__box {
  box-sizing: border-box;
  width: 100%;
  padding: 6%;
  background-color: #F8F8F8;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.6));
}
.article-herramienta-4 .calculadora__content .calculadora__section .section--form form .second__box {
  margin-top: 4%;
}
.article-herramienta-4 .calculadora__content .calculadora__section .section--form form .second__box h2 {
  margin-bottom: 5%;
  font-size: 1.2rem;
  font-family: roboto-regular, sans-serif, Arial;
}
.article-herramienta-4 .calculadora__content .calculadora__section .section--form form label {
  font-size: 0.75rem;
  color: #060606;
  font-weight: bold;
  height: 2rem;
  font-family: Helvetica, sans-serif, Arial;
}
.article-herramienta-4 .calculadora__content .calculadora__section .section--form form .form__group {
  width: 40%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.article-herramienta-4 .calculadora__content .calculadora__section .section--form form .form__group .control--input {
  font-size: 0.938rem;
  margin: 5px 0 25px;
}
.article-herramienta-4 .calculadora__content .calculadora__section .section--form form .form__group select {
  width: 100%;
  border: 1px solid #000;
  outline: none;
  border-radius: 5px  15px;
  padding: 5px 20px;
  appearance: none;
  margin-bottom: 30px;
  background: url("../img/arrow.png") transparent no-repeat calc(90%) !important;
}
.article-herramienta-4 .calculadora__content .calculadora__section .section--form form .form__group input[type="text"] {
  width: auto;
  border: none;
  outline: none;
  border-bottom: 1px solid #000;
  padding: 5px;
  background-color: transparent;
}
.article-herramienta-4 .calculadora__content .calculadora__section .section--form form .form__group .input--result {
  margin-bottom: 50px;
}
.article-herramienta-4 .calculadora__content .calculadora__section .section--form form .form__group .error {
  color: #9d0208;
  display: none;
  font-size: .8rem;
  position: relative;
  top: -20px;
  font-family: Helvetica, sans-serif, Arial;
}
.article-herramienta-4 .calculadora__content .calculadora__section .section--form form .form__group .error-active {
  display: block;
}
.article-herramienta-4 .calculadora__content .calculadora__section .section--form form .form__unit {
  width: 100%;
}
.article-herramienta-4 .calculadora__content .calculadora__section .section--form form .form__unit button {
  font-family: mont-regular, sans-serif;
  margin: 5% auto 0;
  display: block;
  padding: 10px 50px;
  border: none;
  outline: none;
  border-radius: 5px 20px;
  background: linear-gradient(to top, #757575, #9b9b9b, #dcdcdc);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  color: #010101;
  transition: all 0.5s ease-in-out;
}
.article-herramienta-4 .calculadora__content .calculadora__section .section--form form .form__unit button:hover {
  transform: translateY(-5px);
  cursor: pointer;
}
.article-herramienta-4 .calculadora__content .calculadora__section .section--form form .form__unit button:active {
  transform: translateY(5px);
}
.article-herramienta-4 .calculadora__content .calculadora__section .section--graph {
  box-sizing: border-box;
  width: 42%;
  min-height: 900px;
  display: none;
  padding: 5% 3%;
  position: relative;
  /*Resultados*/
}
.article-herramienta-4 .calculadora__content .calculadora__section .section--graph .image__conent {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1;
  padding: 10% 0;
  height: 30%;
  box-sizing: border-box;
}
.article-herramienta-4 .calculadora__content .calculadora__section .section--graph .image__conent img {
  display: block;
  height: 200px;
  width: 100%;
  margin: auto;
  object-fit: cover;
  object-position: center;
}
.article-herramienta-4 .calculadora__content .calculadora__section .section--graph .result__content {
  position: absolute;
  top: 18.5%;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20% 10% 10%;
  background-color: #F8F8F8;
  filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.6));
  display: block;
  text-align: center;
}
.article-herramienta-4 .calculadora__content .calculadora__section .section--graph .result__content .result--header .name,
.article-herramienta-4 .calculadora__content .calculadora__section .section--graph .result__content .result--header .test {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: Helvetica, sans-serif, Arial;
}
.article-herramienta-4 .calculadora__content .calculadora__section .section--graph .result__content .result--header h2 {
  font-size: 1.2rem;
  font-family: roboto-regular, sans-serif, Arial;
}
.article-herramienta-4 .calculadora__content .calculadora__section .section--graph .result__content .text--result h2 {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: roboto-regular, sans-serif, Arial;
}
.article-herramienta-4 .calculadora__content .calculadora__section .section--graph .result__content p,
.article-herramienta-4 .calculadora__content .calculadora__section .section--graph .result__content h2 {
  margin-top: 5%;
}
.article-herramienta-4 .calculadora__content .calculadora__section .section--graph .result__content p {
  font-family: Helvetica, sans-serif, Arial;
  font-size: .9rem;
  font-weight: 300;
}
.article-herramienta-4 .calculadora__content .calculadora__footer {
  margin: auto;
  width: 50%;
}
.article-herramienta-4 .calculadora__content .calculadora__footer p {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 300;
  color: #949494;
  font-family: Helvetica, sans-serif, Arial;
}
.article-herramienta-5 .calculadora__content {
  margin: 5% 12%;
  background-color: #FFFFFF;
}
.article-herramienta-5 .calculadora__content .calculadora--title {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.article-herramienta-5 .calculadora__content .calculadora--title h2 {
  text-align: center;
  font-size: 2rem;
  color: #373737;
  line-height: 2.3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: roboto-regular, sans-serif, Arial;
}
.article-herramienta-5 .calculadora__content .calculadora--title p {
  width: 40%;
  margin-top: 3%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 300;
  color: #5B6167;
  font-family: Helvetica, sans-serif, Arial;
}
.article-herramienta-5 .calculadora__content .calculadora__section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3% 0;
}
.article-herramienta-5 .calculadora__content .calculadora__section .section--form {
  box-sizing: border-box;
  width: 56%;
  padding: 5% 4%;
  background-color: #F8F8F8;
  filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.6));
}
.article-herramienta-5 .calculadora__content .calculadora__section .section--form form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /*.label_heigth{
                        height: 5rem;
                    }*/
}
.article-herramienta-5 .calculadora__content .calculadora__section .section--form form label {
  font-size: 0.75rem;
  color: #060606;
  font-weight: bold;
  height: 3rem;
  font-family: Helvetica, sans-serif, Arial;
}
.article-herramienta-5 .calculadora__content .calculadora__section .section--form form label span {
  font-size: 0.625rem ;
  font-weight: 300;
  display: block;
  line-height: 1rem;
}
.article-herramienta-5 .calculadora__content .calculadora__section .section--form form .form__group {
  width: 46%;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  /*p{
                            font-size: 0.625rem ;
                        }*/
}
.article-herramienta-5 .calculadora__content .calculadora__section .section--form form .form__group .control--input {
  font-size: 0.938rem;
}
.article-herramienta-5 .calculadora__content .calculadora__section .section--form form .form__group select {
  width: 76%;
  border: 1px solid #000;
  outline: none;
  border-radius: 5px  15px;
  padding: 5px 20px;
  margin-bottom: 50px;
  appearance: none;
  background: url("../img/arrow.png") transparent no-repeat calc(90%) !important;
}
.article-herramienta-5 .calculadora__content .calculadora__section .section--form form .form__group input[type="text"] {
  width: 60%;
  border: none;
  outline: none;
  border-bottom: 1px solid #000;
  padding: 5px 20px;
  background: url("../img/dollar.png") transparent no-repeat 2px 8px !important;
}
.article-herramienta-5 .calculadora__content .calculadora__section .section--form form .form__group .input--result {
  margin-bottom: 50px;
}
.article-herramienta-5 .calculadora__content .calculadora__section .section--form form .form__group .error {
  margin-bottom: 20px;
  color: #9d0208;
  display: none;
  font-size: .8rem;
}
.article-herramienta-5 .calculadora__content .calculadora__section .section--form form .form__group .error-active {
  display: block;
}
.article-herramienta-5 .calculadora__content .calculadora__section .section--form form .form__unit {
  width: 100%;
}
.article-herramienta-5 .calculadora__content .calculadora__section .section--form form .form__unit .content-slider {
  position: relative;
  width: 100%;
}
.article-herramienta-5 .calculadora__content .calculadora__section .section--form form .form__unit .content-slider .slider {
  height: 60px;
}
.article-herramienta-5 .calculadora__content .calculadora__section .section--form form .form__unit .content-slider .slider .show-value {
  position: relative;
  width: 100%;
  height: 25px;
}
.article-herramienta-5 .calculadora__content .calculadora__section .section--form form .form__unit .content-slider .slider .show-value span {
  position: absolute;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  color: #0f1540;
  bottom: 0;
  left: 50%;
  transform: translateX(-10%) scale(0);
  transform-origin: bottom ;
  transition: transform 300ms ease-in-out;
}
.article-herramienta-5 .calculadora__content .calculadora__section .section--form form .form__unit .content-slider .slider .show-value span.active {
  transform: translateX(-50%) scale(1);
}
.article-herramienta-5 .calculadora__content .calculadora__section .section--form form .form__unit .content-slider .slider input[type='range'] {
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  background-color: #0f1540;
  outline: none;
  border: none;
}
.article-herramienta-5 .calculadora__content .calculadora__section .section--form form .form__unit .content-slider .slider input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 20px;
  background-color: #0f1540;
  cursor: pointer;
}
.article-herramienta-5 .calculadora__content .calculadora__section .section--form form .form__unit .content-slider .slider .range div {
  position: absolute;
  color: #0f1540;
  font-weight: 600;
  font-size: 1rem;
}
.article-herramienta-5 .calculadora__content .calculadora__section .section--form form .form__unit .content-slider .slider .range div:nth-child(2) {
  right: 0;
}
.article-herramienta-5 .calculadora__content .calculadora__section .section--form form .form__unit button {
  font-family: mont-regular, sans-serif;
  margin: 5% auto 0;
  display: block;
  padding: 10px 50px;
  border: none;
  outline: none;
  border-radius: 5px 20px;
  background: linear-gradient(to top, #757575, #9b9b9b, #dcdcdc);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  color: #010101;
  transition: all 0.5s ease-in-out;
}
.article-herramienta-5 .calculadora__content .calculadora__section .section--form form .form__unit button:hover {
  transform: translateY(-5px);
  cursor: pointer;
}
.article-herramienta-5 .calculadora__content .calculadora__section .section--form form .form__unit button:active {
  transform: translateY(5px);
}
.article-herramienta-5 .calculadora__content .calculadora__section .section--graph {
  box-sizing: border-box;
  width: 42%;
  min-height: 500px;
  display: none;
  padding: 5% 3%;
  background-color: #F8F8F8;
  filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.6));
  position: relative;
  /*Resultados*/
}
.article-herramienta-5 .calculadora__content .calculadora__section .section--graph .result__content .result--header h2 {
  font-size: 3rem;
  font-weight: 500;
  font-family: roboto-regular, sans-serif, Arial;
}
.article-herramienta-5 .calculadora__content .calculadora__section .section--graph .result__content .result--header p {
  margin-top: 5px;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-family: Helvetica, sans-serif, Arial;
}
.article-herramienta-5 .calculadora__content .calculadora__section .section--graph .result__content .result--table {
  display: flex;
  flex-direction: column;
  max-height: 250px;
  overflow: auto;
}
.article-herramienta-5 .calculadora__content .calculadora__section .section--graph .result__content .result--table .table--row {
  display: flex;
  justify-content: space-between;
}
.article-herramienta-5 .calculadora__content .calculadora__section .section--graph .result__content .result--table .table--row p {
  font-size: 1rem;
  margin-top: 20px;
  font-family: Helvetica, sans-serif, Arial;
}
.article-herramienta-5 .calculadora__content .calculadora__section .section--graph .result__content .result--table .table--row .years {
  font-weight: bold;
}
.article-herramienta-5 .calculadora__content .calculadora__section .section--graph .result__content .result--table .table--row .cash {
  font-weight: 300;
  margin-right: 20px;
}
.article-herramienta-5 .calculadora__content .calculadora__section .section--graph .content--teminos {
  position: absolute;
  left: 0;
  bottom: 5%;
  padding: 5% 7% 0;
}
.article-herramienta-5 .calculadora__content .calculadora__section .section--graph .content--teminos p {
  font-size: .9rem;
  font-family: Helvetica, sans-serif, Arial;
}
.article-herramienta-5 .calculadora__content .calculadora__footer {
  margin: auto;
  width: 50%;
}
.article-herramienta-5 .calculadora__content .calculadora__footer p {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 300;
  color: #949494;
  font-family: Helvetica, sans-serif, Arial;
}
.container-links {
  max-width: 1366px;
  margin: 80px auto;
  border-radius: 0.8rem;
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.9));
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.4rem;
  padding: 2.4rem;
  border: 1px solid #000;
}
.container-links a {
  text-decoration: none;
  font-size: 0.7rem;
  font-weight: bold;
  color: #000;
  padding: 0.4rem 0.8rem;
  border-radius: 0.4rem;
  border: 1px solid #000;
  transition: all 0.5s ease-in;
}
.container-links a:hover {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
}
@media screen and (max-width: 450px) {
  .calculadora__content .calculadora--title h2 {
    font-size: 1.2rem;
  }
  .calculadora__content .calculadora--title p {
    font-size: .9rem;
  }
  .calculadora__content .calculadora__section .section--form form label {
    height: auto;
  }
  .calculadora__content .calculadora__section .section--form form .form__group {
    width: 100%;
  }
  .calculadora__content .calculadora__section .section--form form .form__group input[type="text"] {
    width: auto;
    margin-bottom: 30px;
  }
  .calculadora__content .calculadora__section .section--form form .form__group select {
    width: auto;
  }
  .calculadora__content .calculadora__section .section--form form .form__group .control--input {
    font-size: 0.938rem;
    margin-top: 10px;
  }
  .calculadora__content .calculadora__section .section--form form .form__unit button {
    font-size: .8rem;
  }
  .calculadora__content .calculadora__section .section--graph {
    /*Grafico de porcentajes*/
    /*Resultados*/
  }
  .calculadora__content .calculadora__section .section--graph .first__box {
    margin-left: calc(-40%);
  }
  .calculadora__content .calculadora__section .section--graph .values--result .result__content .result-item h2 {
    font-size: 1.5rem;
  }
  .calculadora__content .calculadora__section .section--graph .values--result .result__content .result-item p {
    font-size: .9rem;
  }
  .calculadora__content .calculadora__section .section--graph .values--result .content--teminos p {
    font-size: 0.6rem;
  }
  .calculadora__content .calculadora__section .section--graph .result__content .result--header h2 {
    font-size: 2rem;
  }
  .calculadora__content .calculadora__section .section--graph .result__content .result--header p {
    font-size: .9rem;
  }
  .calculadora__content .calculadora__section .section--graph .result__content .result--table .table--row p {
    font-size: .9rem;
  }
  .calculadora__content .calculadora__section .section--graph .content--teminos p {
    font-size: .8rem;
  }
  .calculadora__content .calculadora__footer p {
    font-size: .9rem;
  }
}
@media screen and (max-width: 600px) {
  .article-herramienta .calculadora__content .calculadora--title h2,
  .article-herramienta-2 .calculadora__content .calculadora--title h2,
  .article-herramienta-3 .calculadora__content .calculadora--title h2,
  .article-herramienta-4 .calculadora__content .calculadora--title h2,
  .article-herramienta-5 .calculadora__content .calculadora--title h2,
  .article-result-1 .calculadora__content .calculadora--title h2 {
    font-size: 1.7rem;
  }
  .article-herramienta .calculadora__content .calculadora--title p,
  .article-herramienta-2 .calculadora__content .calculadora--title p,
  .article-herramienta-3 .calculadora__content .calculadora--title p,
  .article-herramienta-4 .calculadora__content .calculadora--title p,
  .article-herramienta-5 .calculadora__content .calculadora--title p,
  .article-result-1 .calculadora__content .calculadora--title p {
    font-size: 1.1rem;
  }
  .article-herramienta .calculadora__content .calculadora__section .section--form form label,
  .article-herramienta-2 .calculadora__content .calculadora__section .section--form form label,
  .article-herramienta-3 .calculadora__content .calculadora__section .section--form form label,
  .article-herramienta-4 .calculadora__content .calculadora__section .section--form form label,
  .article-herramienta-5 .calculadora__content .calculadora__section .section--form form label,
  .article-result-1 .calculadora__content .calculadora__section .section--form form label {
    height: auto;
  }
  .article-herramienta .calculadora__content .calculadora__section .section--form form .form__group,
  .article-herramienta-2 .calculadora__content .calculadora__section .section--form form .form__group,
  .article-herramienta-3 .calculadora__content .calculadora__section .section--form form .form__group,
  .article-herramienta-4 .calculadora__content .calculadora__section .section--form form .form__group,
  .article-herramienta-5 .calculadora__content .calculadora__section .section--form form .form__group,
  .article-result-1 .calculadora__content .calculadora__section .section--form form .form__group {
    width: 100%;
  }
  .article-herramienta .calculadora__content .calculadora__section .section--form form .form__group input[type="text"],
  .article-herramienta-2 .calculadora__content .calculadora__section .section--form form .form__group input[type="text"],
  .article-herramienta-3 .calculadora__content .calculadora__section .section--form form .form__group input[type="text"],
  .article-herramienta-4 .calculadora__content .calculadora__section .section--form form .form__group input[type="text"],
  .article-herramienta-5 .calculadora__content .calculadora__section .section--form form .form__group input[type="text"],
  .article-result-1 .calculadora__content .calculadora__section .section--form form .form__group input[type="text"] {
    width: auto;
    margin-bottom: 30px;
  }
  .article-herramienta .calculadora__content .calculadora__section .section--form form .form__group select,
  .article-herramienta-2 .calculadora__content .calculadora__section .section--form form .form__group select,
  .article-herramienta-3 .calculadora__content .calculadora__section .section--form form .form__group select,
  .article-herramienta-4 .calculadora__content .calculadora__section .section--form form .form__group select,
  .article-herramienta-5 .calculadora__content .calculadora__section .section--form form .form__group select,
  .article-result-1 .calculadora__content .calculadora__section .section--form form .form__group select {
    width: auto;
  }
  .article-herramienta .calculadora__content .calculadora__section .section--form form .form__group .control--input,
  .article-herramienta-2 .calculadora__content .calculadora__section .section--form form .form__group .control--input,
  .article-herramienta-3 .calculadora__content .calculadora__section .section--form form .form__group .control--input,
  .article-herramienta-4 .calculadora__content .calculadora__section .section--form form .form__group .control--input,
  .article-herramienta-5 .calculadora__content .calculadora__section .section--form form .form__group .control--input,
  .article-result-1 .calculadora__content .calculadora__section .section--form form .form__group .control--input {
    font-size: 0.938rem;
    margin-top: 10px;
  }
  .article-herramienta .calculadora__content .calculadora__section .section--graph,
  .article-herramienta-2 .calculadora__content .calculadora__section .section--graph,
  .article-herramienta-3 .calculadora__content .calculadora__section .section--graph,
  .article-herramienta-4 .calculadora__content .calculadora__section .section--graph,
  .article-herramienta-5 .calculadora__content .calculadora__section .section--graph,
  .article-result-1 .calculadora__content .calculadora__section .section--graph {
    /*Grafico de porcentajes*/
    /*Resultados*/
  }
  .article-herramienta .calculadora__content .calculadora__section .section--graph .first__box,
  .article-herramienta-2 .calculadora__content .calculadora__section .section--graph .first__box,
  .article-herramienta-3 .calculadora__content .calculadora__section .section--graph .first__box,
  .article-herramienta-4 .calculadora__content .calculadora__section .section--graph .first__box,
  .article-herramienta-5 .calculadora__content .calculadora__section .section--graph .first__box,
  .article-result-1 .calculadora__content .calculadora__section .section--graph .first__box {
    margin-left: calc(-40%);
  }
  .article-herramienta .calculadora__content .calculadora__section .section--graph .values--result,
  .article-herramienta-2 .calculadora__content .calculadora__section .section--graph .values--result,
  .article-herramienta-3 .calculadora__content .calculadora__section .section--graph .values--result,
  .article-herramienta-4 .calculadora__content .calculadora__section .section--graph .values--result,
  .article-herramienta-5 .calculadora__content .calculadora__section .section--graph .values--result,
  .article-result-1 .calculadora__content .calculadora__section .section--graph .values--result {
    width: 100%;
    box-sizing: border-box;
  }
  .article-herramienta .calculadora__content .calculadora__footer p,
  .article-herramienta-2 .calculadora__content .calculadora__footer p,
  .article-herramienta-3 .calculadora__content .calculadora__footer p,
  .article-herramienta-4 .calculadora__content .calculadora__footer p,
  .article-herramienta-5 .calculadora__content .calculadora__footer p,
  .article-result-1 .calculadora__content .calculadora__footer p {
    font-size: 1.1rem;
  }
  .article-herramienta .anuncio__content .anuncio--body h2,
  .article-herramienta-2 .anuncio__content .anuncio--body h2,
  .article-herramienta-3 .anuncio__content .anuncio--body h2,
  .article-herramienta-4 .anuncio__content .anuncio--body h2,
  .article-herramienta-5 .anuncio__content .anuncio--body h2,
  .article-result-1 .anuncio__content .anuncio--body h2 {
    font-size: 1.5rem;
  }
  .article-herramienta .options__content .options--title h2,
  .article-herramienta-2 .options__content .options--title h2,
  .article-herramienta-3 .options__content .options--title h2,
  .article-herramienta-4 .options__content .options--title h2,
  .article-herramienta-5 .options__content .options--title h2,
  .article-result-1 .options__content .options--title h2 {
    font-size: 1.8rem;
  }
  .article-herramienta .options__content .options--item .item,
  .article-herramienta-2 .options__content .options--item .item,
  .article-herramienta-3 .options__content .options--item .item,
  .article-herramienta-4 .options__content .options--item .item,
  .article-herramienta-5 .options__content .options--item .item,
  .article-result-1 .options__content .options--item .item {
    width: 100%;
  }
  .article-herramienta .options__content .options--item .item .item--paragraph,
  .article-herramienta-2 .options__content .options--item .item .item--paragraph,
  .article-herramienta-3 .options__content .options--item .item .item--paragraph,
  .article-herramienta-4 .options__content .options--item .item .item--paragraph,
  .article-herramienta-5 .options__content .options--item .item .item--paragraph,
  .article-result-1 .options__content .options--item .item .item--paragraph {
    min-height: auto;
    position: relative ;
    margin-top: 5%;
  }
  .article-herramienta .options__content .options--item .item .item--paragraph a,
  .article-herramienta-2 .options__content .options--item .item .item--paragraph a,
  .article-herramienta-3 .options__content .options--item .item .item--paragraph a,
  .article-herramienta-4 .options__content .options--item .item .item--paragraph a,
  .article-herramienta-5 .options__content .options--item .item .item--paragraph a,
  .article-result-1 .options__content .options--item .item .item--paragraph a {
    position: relative;
    margin-top: 5%;
  }
}
@media screen and (max-width: 750px) {
  .article-herramienta .calculadora__content .calculadora--title p,
  .article-herramienta-2 .calculadora__content .calculadora--title p,
  .article-herramienta-3 .calculadora__content .calculadora--title p,
  .article-herramienta-4 .calculadora__content .calculadora--title p,
  .article-herramienta-5 .calculadora__content .calculadora--title p,
  .article-result-1 .calculadora__content .calculadora--title p {
    width: 100%;
  }
  .article-herramienta .calculadora__content .calculadora__footer,
  .article-herramienta-2 .calculadora__content .calculadora__footer,
  .article-herramienta-3 .calculadora__content .calculadora__footer,
  .article-herramienta-4 .calculadora__content .calculadora__footer,
  .article-herramienta-5 .calculadora__content .calculadora__footer,
  .article-result-1 .calculadora__content .calculadora__footer {
    width: 100%;
  }
}
@media screen and (max-width: 1100px) {
  .article-herramienta .calculadora__content .calculadora__section .section--form,
  .article-herramienta-2 .calculadora__content .calculadora__section .section--form,
  .article-herramienta-3 .calculadora__content .calculadora__section .section--form,
  .article-herramienta-4 .calculadora__content .calculadora__section .section--form,
  .article-herramienta-5 .calculadora__content .calculadora__section .section--form,
  .article-result-1 .calculadora__content .calculadora__section .section--form {
    width: 100%;
  }
  .article-herramienta .calculadora__content .calculadora__section .section--graph,
  .article-herramienta-2 .calculadora__content .calculadora__section .section--graph,
  .article-herramienta-3 .calculadora__content .calculadora__section .section--graph,
  .article-herramienta-4 .calculadora__content .calculadora__section .section--graph,
  .article-herramienta-5 .calculadora__content .calculadora__section .section--graph,
  .article-result-1 .calculadora__content .calculadora__section .section--graph {
    width: 100%;
  }
  .article-herramienta .informacion__content,
  .article-herramienta-2 .informacion__content,
  .article-herramienta-3 .informacion__content,
  .article-herramienta-4 .informacion__content,
  .article-herramienta-5 .informacion__content,
  .article-result-1 .informacion__content {
    flex-direction: column;
    align-items: center;
  }
  .article-herramienta .informacion__content .informacion--img,
  .article-herramienta-2 .informacion__content .informacion--img,
  .article-herramienta-3 .informacion__content .informacion--img,
  .article-herramienta-4 .informacion__content .informacion--img,
  .article-herramienta-5 .informacion__content .informacion--img,
  .article-result-1 .informacion__content .informacion--img {
    width: 50%;
  }
  .article-herramienta .informacion__content .informacion--description,
  .article-herramienta-2 .informacion__content .informacion--description,
  .article-herramienta-3 .informacion__content .informacion--description,
  .article-herramienta-4 .informacion__content .informacion--description,
  .article-herramienta-5 .informacion__content .informacion--description,
  .article-result-1 .informacion__content .informacion--description {
    width: 100%;
  }
  .article-herramienta .options__content .options--item .item .item--paragraph,
  .article-herramienta-2 .options__content .options--item .item .item--paragraph,
  .article-herramienta-3 .options__content .options--item .item .item--paragraph,
  .article-herramienta-4 .options__content .options--item .item .item--paragraph,
  .article-herramienta-5 .options__content .options--item .item .item--paragraph,
  .article-result-1 .options__content .options--item .item .item--paragraph {
    min-height: 260px;
  }
}
